:root {
    --cal1: grey;
    --cal2: black;
    --cal3: white;
    --cal4: rgba(4, 120, 87, 10);
  }

  h1 {
    text-align: center;
  }

  .dashboard-container {
    height: 92vh;
    background: var(--cal2);
    overflow: hidden;
    background-image: url("../images/grassblades.jpg");
  }
  
  .charts-container {
    margin: auto;
    margin-top: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding: auto;
    width: 75vw;
    height: 50vh;
    background: var(--cal4);
    border: 1px solid var(--cal2);
    border-radius: 35px 35px 0 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0.8;
  }
  
  .prev-dash-container {
    /* background-image: url("../src/images/StudiouslyLogo.jpg"); */
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 5vh;
    width: 75vw;
    height: 35vh;
    background: var(--cal3);
    border: 2px solid var(--cal2);
    border-radius: 0 0 35px 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }